
footer{
    margin-top: 20px;
    background-color: #554C93;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 50px;
    color:rgb(247, 236, 236);
    text-align: center;

    width: 100%;
}
.full-lenght{
    width:100%;

    
}
.full-lenght p{
    padding: 10px;

    text-align: left!important;
}

#btn-reg:hover{ 
    background-color:#e6e0e0;
    color:#333;
}

#btn-reg{
  

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 150px;
}


.cro{
    padding-top: -1000px;
    content: none!important;
    z-index: 0;
    display: none!important;
}

.body-style{
    color:#333;
    background-color:#d1cfcf;

}

.subasic{
    background-color:#333!important;
}

@media only screen and (max-width: 990px) {
    #btn-reg{
        
        display:inline-block;
  
        
   
        right:0;
        
        background-color:#9d9d9d;
        border: 1px solid #333;
    }
}